body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fffadc;
}
header{
  background: #ffe6ee;
  padding: 2px;
  text-align: center;
}
header h1{
  color: #b85c8a;
}
nav a{
  margin: 0 12px;
  text-decoration: none;
  color: #444;
  font-weight:bold ;
  transition: 0.3s;
  padding: 6px 10px;
  border-radius: 8px;
}
nav a:hover{
  background-color: #ffd6e7;
  color: #b85c8a;
}
.hero{
  text-align: center;
  padding: 80px 20px;
  background: #fff0f5;

}
.hero h2{
  color: #b85c8a;
  font-size: 40px;
}
.hero p{
  color: #555;
}
button{
  padding: 12px 25px;
  border: none;
  background: #d96c94;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background: #b85c8a;
  transform: scale(1.05);
}
.services{
  padding: 50px 20px;
  text-align: center;
}
.services h2{
  color: #b85c8a;
}
.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.contact{
  background: #ffeef4;
  padding: 40px;
  text-align: center;
}
footer{
  background: #b85c8a;
  color: white;
  text-align: center;
  padding: 15px;
}
.hero-image{
  width: 80%;
  max-width: 650px;
  display: block;
  margin: 25px auto;
  border-radius: 15px;
}
.hero button{
  display: block;
margin: 20px auto 0;
}
html {
  scroll-behavior: smooth;
}

nav a {
  text-decoration: none;
  color: #444;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #d47b9a;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
 .card {
  text-align: center;
  transition:all 0.3s ease;
  cursor: pointer;
  background: #fff0f5;
  border: 1px solid #f3b6cc;
  padding: 20px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0 ,0.2 );
    background-color: #fff0f5;
  }
  .about{
  text-align: center;
  padding: 60px 20px;
}

.about h2{
  color: #b85c8a;
  font-size: 36px;
  margin-bottom: 25px;
}

.about-box{
  background: #fff5fa;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
} 
@media (max-width: 768px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

 
  .hero-image {
    width: 95%;
  }

  button {
    width: 150px;
  }
}
